/* #region About */

.about-company {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about-company .cover {
  position: relative;
}
.about-company .cover img {
  width: 100%;
}

.about-company .cover .sun {
  top: 0;
  height: 90%;
  left: -5%;
  aspect-ratio: 1;
  z-index: -1;
}

.about-company .description {
  align-self: center;
  display: grid;
  gap: 16px;
}

/* #endregion About */

/* #region Author */
.author {
  display: grid;
  gap: 20px;
}

.author h1 {
  text-align: center;
}
.author .content {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 7fr 3fr;
}

.author .content .sun {
  width: 222px;
  aspect-ratio: 1;
  top: -30px;
  left: -100px;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .author .content {
    grid-template-columns: 1fr;
  }
}

.author .content .description {
  align-self: center;
  justify-self: center;
  display: grid;
  gap: 8px;
}

.author .cover {
  position: relative;
  display: grid;
  gap: 20px;
}
.author .cover .sun {
  position: absolute;
  width: 500px;
  top: -380px;
  left: 200px;
  height: 500px;
  background-color: var(--background-sun);
  border-radius: 100%;
  z-index: -1;
}

.author .cover .sun.blend {
  mix-blend-mode: darken;
  z-index: 1;
}

.author .cover img {
  align-self: flex-end;
  width: 100%;
}

.author .cover > span {
  text-align: end;
}

/* #endregion Author*/

/* #region Our Designers */
.our-designers {
  display: grid;
  gap: 20px;
  position: relative;
}
.our-designers h1 {
  text-align: center;
}

.our-designers .sun {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background-color: var(--background-sun);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.our-designers-content {
  background-color: rgba(var(--background-dark), 0.96);
  padding: 40px var(--base-padding);
  position: relative;
  z-index: 1;
}

.designers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.designer-card {
  display: grid;
  gap: 20px;
}

.designer-card img {
  width: 100%;
  height: auto;
  display: block;
}

.designer-card-name {
  background-color: var(--white);
  color: rgba(var(--background-dark), 1);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-family: "Vetrino", sans-serif;
}

/* #endregion Our Designers */

/* #region Our Works */
.our-works {
  gap: 2.5rem;
  position: relative;
  display: grid;
}

.our-works .swiper-slide {
  width: unset;
}

.our-works .swiper-freemode {
  overflow: hidden;
  position: relative;
}

.our-works .swiper-button-next {
  right: 0 !important;
}

.our-works .swiper-button-prev {
  left: 0 !important;
}

.our-works h1 {
  text-align: center;
}

.our-works .slider-images {
  position: relative;
  background-color: rgba(var(--background-dark), 0.96);
  padding: 16px 0;
}

.our-works .slider-images .container {
  width: 100vw;
}

.our-works .slider-images .container > div {
  padding: 32px;
  background-color: var(--white);
}

.our-works .works-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-works .works-grid img {
  width: 100%;
  height: auto;
  display: block;
}

.our-works .slider-images .sun {
  width: 440px;
  height: 440px;
  top: -70px;
  left: 140px;
  border-radius: 100%;
  mix-blend-mode: color-burn;
  z-index: -1;
}

.our-works .swiper-freemode .sun {
  width: 460px;
  height: 460px;
  top: -230px;
  right: -230px;
  left: auto;
  mix-blend-mode: darken;
  z-index: 1;
}

.our-works .sun-second {
  position: absolute;
  width: 460px;
  height: 460px;
  top: -100px;
  right: 80px;
  left: auto;
  z-index: -1;
}

/* #endregion Our Works */


