.sun {
  position: absolute;
  background-color: var(--background-sun);
  border-radius: 100%;
}

@font-face {
  font-family: "Vetrino";
  src: url("../fonts/Vetrino.otf") format("opentype");
}

html,
body {
  font-size: var(--font-size);
  font-family: "Vetrino", sans-serif !important;
  overflow: hidden;
}

html {
  overflow: auto;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Reset and Base */
* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  position: relative;
  font-size: 2rem;
}

section {
  margin-bottom: var(--base-space);
}

.container {
  padding: 0 var(--base-padding);
  margin: unset !important;
  max-width: unset !important;
}

.base-button {
  font-family: "Vetrino", sans-serif;
  background-color: rgba(var(--background-dark), 1);
  color: var(--white);
  padding: 2rem 4rem;
  outline: none;
  border: none;
  font-size: 2rem;
  transition: all 0.15s ease-in-out;
}

.base-button:hover {
  cursor: pointer;
  background-color: #ce5e61;
}

.base-button:active {
  background-color: #ce7c7e;
}

a {
  text-decoration: none !important;
  color: var(--white) !important;
  font-size: 2rem !important;
}

p {
  font-size: 2rem !important;
  margin: 0 !important;
}

button {
  font-size: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(var(--background-dark), 1) !important;
}

.swiper-button-prev {
  left: -10px !important;
}
.swiper-button-next {
  right: -10px !important;
}

.blend-burn {
  mix-blend-mode: color-burn;
  z-index: 1;
}
.blend-darken {
  mix-blend-mode: darken;
  z-index: 1;
}

.header {
  position: sticky;
  top: 0;
  background: rgba(var(--background-dark), 1);
  padding: 24px var(--base-padding);
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.logo {
  font-family: "Vetrino", sans-serif;
  font-size: 3.5rem;
  color: white;
  letter-spacing: 8px;
  white-space: pre-wrap;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  text-shadow: var(--white) 0px 1px 10px;
}

.nav {
  display: flex;
  gap: 72px;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  font-family: "Vetrino", sans-serif;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.nav-link::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: var(--white);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* #endregion Header*/
/* region footer*/

.footer {
  background-color: rgba(var(--background-dark), 0.96);
  color: var(--white) !important;
  padding: 16px 0;
}

.footer a {
  color: var(--white) !important;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

footer .block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

footer .base-text {
  font-size: 1.7rem;
}

footer .networks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* endregion footer*/

.row {
  margin-left: 0 !important;
}
