.container {
  margin: unset;
}


section {
  padding-top: var(--base-space) !important;
}

.content,
.point {
  background: rgb(var(--background-dark));
  color: var(--white);
}

.consultation {
  margin-bottom: var(--base-space) !important;
}

.description {
  padding-top: unset !important;
  padding-left: var(--base-padding) !important;
  margin: unset !important;
}

.description h1 {
  font-size: 4rem !important;
}

.description .sun-first {
  width: 70rem;
  height: 70rem;
  top: -33%;
  left: -5%;
  z-index: -1;
}
.description .sun-second {
  width: 30rem;
  height: 30rem;
  z-index: 1;
  top: 52%;
  left: 20%;
}

.capsule .sun-first {
  width: 55rem;
  height: 55rem;
  left: -5%;
  top: -23%;
  pointer-events: none;
}


.test .sun-second {
  width: 5rem;
  height: 5rem;
  top: 30%;
  left: 40%;
}
.test .sun-third {
  width: 7rem;
  height: 7rem;
  top: 39%;
  left: 47%;
}
.test .sun-fourth {
  width: 7.3rem;
  height: 7.3rem;
  top: 80%;
  left: 0%;
}
.test .sun-fifth {
  width: 8rem;
  height: 8rem;
  top: 74%;
  right: 12%;
}

.views .sun {
  width: 68rem;
  height: 68rem;
  right: -7%;
  top: -33%;
  z-index: 0;
}

.consultation .sun-first {
  width: 7rem;
  height: 7rem;
  top: -11%;
  left: -3%;
  z-index: -1;
}
.consultation .sun-second {
  width: 22rem;
  height: 22rem;
  bottom: -7%;
  right: -9%;
  z-index: -1;
}

footer .sun {
  width: 70rem;
  height: 70rem;
  z-index: -1;
  top: -50%;
  left: -5%;
}
