/* #region Hero */
.hero .container {
  position: relative;
}
.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 120px;
  padding-top: 80px;
}

.hero-image {
  width: fit-content;
  position: relative;
}
@media screen and (max-width: 650px) {
  .hero-image > img {
    width: 100%;
  }
}
.hero-imgs-grid {
  position: absolute;
  top: 16px;
  right: -120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-imgs-line {
  display: flex;
  gap: 16px;
}

.hero-text {
  flex: 0.8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.hero .next {
  display: flex;
  justify-content: end;
}

.hero .sun {
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--background-sun);
  border-radius: 100%;
  right: -13rem;
  top: -30rem;
  z-index: -1;
}

@media screen and (max-width: 1350px) {
  .hero-content {
    gap: 32px;
  }
  .hero-text {
    text-align: center;
  }
}

/* #endregion Hero */

/* #region slider-images */

.get-image {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.get-image .swiper-slide {
  width: unset;
}

.get-image .swiper-freemode {
  overflow-x: hidden;
}

.get-image .swiper-button-next{
  right: var(--base-padding) !important;
}

.get-image .swiper-button-prev{
  left: var(--base-padding) !important;
}

.get-image h1 {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slider-images {
  position: relative;
  background-color: rgba(var(--background-dark), 0.96);
  padding: 16px 0;
}

.slider-images .container > div {
  padding: 32px;
  background-color: var(--white);
}

.slider-images .content,
.slider-images .images-line {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.slider-images .images-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider-images .sun {
  width: 440px;
  height: 440px;
  top: -70px;
  left: 140px;
  border-radius: 100%;
  mix-blend-mode: Color burn;
  z-index: -1;
}

@media screen and (max-width: 1350px) {
  .slider-images .images-line > img {
    flex: 1;
  }
}

/* #endregion slider-images */

/* #region appearance type */
.appearance-type {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.appearance-type h1 {
  text-align: center;
}

.appearance-type .content {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}

.appearance-type .messages {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(217, 217, 217, 1);
  padding: 32px 16px;
}

.appearance-type .message {
  background-color: rgba(113, 113, 115, 0.3);
  padding: 24px;
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
}

.appearance-type .message:hover {
  transform: scale(1.01);
  box-shadow: rgba(var(--background-dark), 1) 0px 0px 10px;
}

.appearance-type .sender {
  cursor: pointer;
  display: flex;
  background-color: var(--white);
  border-radius: 45px;
  padding: 8px;
  gap: 16px;
  align-items: center;
}

.appearance-type .sender > p {
  margin: 8px 24px;
  width: 100%;
  border-bottom: 1px solid rgba(var(--background-dark), 1);
}
.appearance-type .sender > button {
  cursor: pointer;
  background-color: #d9d9d9;
  border: none;
  border-radius: 100%;
  height: 100%;
  aspect-ratio: 1;
  padding: 5px;
}

.appearance-type .sender > button > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.appearance-type .sender > button:hover > img {
  transform: rotate(45deg);
}

.appearance-type .images {
  position: relative;
  width: fit-content;
}

.appearance-type .images-grid {
  z-index: 10;
  position: absolute;
  top: 0px;
  right: -146px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.appearance-type .images-line {
  display: flex;
  gap: 10px;
}

.appearance-type .sun.one {
  height: 18rem;
  width: 18rem;
  z-index: -1;
  bottom: -70px;
  right: -120px;
  pointer-events: none;
}
.appearance-type .sun.one.blend-burn {
  z-index: 2;
  height: 18rem;
  width: 18rem;
  bottom: -70px;
  right: -120px;
}

.appearance-type .sun.two {
  height: 33rem;
  width: 33rem;
  z-index: -1;
  top: -150px;
  right: -250px;
  pointer-events: none;
}
.appearance-type .sun.two.blend-burn {
  z-index: 2;
  height: 33rem;
  width: 33rem;
  top: -150px;
  right: -250px;
}

@media screen and (max-width: 650px) {
  .appearance-type .images > img {
    width: 100%;
  }
}

/* #endregion appearance type */

/* #region store*/

.store {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.store.container > div {
  overflow: hidden;
}

.store .swiper-button-prev {
  left: calc(var(--base-padding) - 50px) !important;
}
.store .swiper-button-next {
  right: calc(var(--base-padding) - 50px) !important;
}

.store h1 {
  text-align: center;
}

.store .card {
  display: flex;
  box-sizing: content-box;
  background-color: rgba(var(--background-dark), 1);
  color: var(--white);
}

.store .card > div {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 24px;
  max-width: 100%;
  width: 100%;
}

.store .swiper-slide {
  width: fit-content !important;
}

.store .button {
  display: flex;
  justify-content: end;
}
/* #endregion store*/


